<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ace.improved tests</title>
    <link type="text/css" rel="stylesheet" href="../node_modules/mocha/mocha.css" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="pragma" content="no-cache" />
  </head>
  <body>
    <div id="mocha"></div>
    <script type="text/javascript" src="mocha-bundle.js"></script>
    <script type="text/javascript" src="helper.js"></script>
    <script type="text/javascript" src="http://cdn.jsdelivr.net/ace/1.2.3/noconflict/ace.js"></script> 

    <script type="text/javascript">
      mocha.setup("bdd");
      var urls = [
        "../lib/ace.improvements.js",
        "../lib/ace.ext.keys.js",
        "../lib/ace.ext.custom-text-attributes.js",
        "ace.improvements-test.js",
        "ace.ext.keys-test.js",
        "custom-tokenized-test.js"
      ];
      loadUncached(urls, function() {
        mocha.checkLeaks();
        if (window.mochaPhantomJS) mochaPhantomJS.run();
        else mocha.run();
      });
    </script>

  </body>
</html>
