/*
 * container: #002b36
 * cellbar  : #284a56
 * oneval   : #cb4b16
 * onsuccess: #859900
 * border   : #eee8d5
 * output   : #073642
 * result   : #284a56
 * font     : white
 *
 * */

#dm-container {
  flex: 1;
  background-color: #002b36;
  overflow-y: scroll;
}

div.cell div#output.slide {
  position: absolute;
  width: 100vw;
  height: 100vh;
  max-height: none;
  left: 0;
  top: 0;
  margin: 0;
  z-index: 200;
  overflow: hidden;
  font-size: 2vw;
}
div.cell div#output.slide h1,h2,h3,h4,h5,h6,p,pre {
  margin-left: 2vw;
}
div.cell div#output.slide h1 {
  font-size: 6vw;
}
div.cell div#output.slide h2 {
  font-size: 5vw;
}
div.cell div#output.slide h3 {
  font-size: 4vw;
}
div.cell div#output.slide h4 {
  font-size: 3vw;
}
div.cell div#output.slide h5 {
  font-size: 2vw;
}
div.cell div#output.slide h6 {
  font-size: 1vw;
}
div.cell div#output.slide ul,ol {
 margin-left: 2em;
}
div.cell div#output.slide table {
  margin: 2em auto 0;
}


div.cell div#output span.katex-block {
  margin: 1em 0;
  text-align: center;
}

div.cell:before {
  font-size: 10px;
  font-weight: bold;
  color: #eee8d5;
  background-color: #284a56;
  border: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
}
div.cell.oneval:before {
  background-color: #cb4b16;
}
div.cell.success:before {
  background-color: #859900;
}
div.cell[data-lang="lisp"]:before {
  content: 'Common Lisp';
}
div.cell[data-lang="md"]:before {
  content: 'Markdown';
}
div.cell div#output hr {
  border: 1px solid #eee8d5;
  width: 95%;
}
div.cell[data-lang="md"] div#output {
  overflow-y: auto;
  max-height: none;
}
div.cell[data-lang="md"] div#output.slide {
  overflow-y: hidden;
}
div.cell table {
  border-color: #eee8d5;
  border-collapse: collapse;
  border-spacing: 0;
}
div.cell table * {
  border-color: #eee8d5;
}

div.cell {
  color: black;
  margin: 1em auto;
  max-width: 80vw;
  box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.2);
}

div.cell div.cache {
  display: none;
}

div.cell div#editor {
  min-height: 5em;
}

div.cell div#output {
  display: none;
  color: #93a1a1;
  background-color: #073642;
  min-height: 5em;
  overflow-y: scroll;
  max-height: 450px;
}

div.cell div#output.show {
  display: inherit;
  flex-direction: column;
}

div.cell div#output div#result {
  width: 100%;
  background-color: #284a56;
  color: #93a1a1;
  font-weight: bold;
}

div.cell div.ace_focus {
  box-shadow: 0px 0px 2px 1px rgba(42, 225, 216, 0.7);
}
