#dm-container {
  flex: 1;
  background-color: #455A64;
  overflow-y: scroll;
}

div.cell div#output.slide {
  position: absolute;
  width: 100vw;
  height: 100vh;
  max-height: none;
  left: 0;
  top: 0;
  margin: 0;
  z-index: 200;
  overflow: hidden;
  font-size: 2vw;
}
div.cell div#output.slide h1,h2,h3,h4,h5,h6,p,pre {
  margin-left: 2vw;
}
div.cell div#output.slide h1 {
  font-size: 6vw;
}
div.cell div#output.slide h2 {
  font-size: 5vw;
}
div.cell div#output.slide h3 {
  font-size: 4vw;
}
div.cell div#output.slide h4 {
  font-size: 3vw;
}
div.cell div#output.slide h5 {
  font-size: 2vw;
}
div.cell div#output.slide h6 {
  font-size: 1vw;
}
div.cell div#output.slide ul,ol {
 margin-left: 2em;
}
div.cell div#output.slide table {
  margin: 2em auto 0;
}


div.cell div#output span.katex-block {
  margin: 1em 0;
  text-align: center;
}

div.cell:before {
  font-size: 10px;
  background-color: #757575;
  display: flex;
}
div.cell.oneval:before {
  background-color: #99bbcc;
}
div.cell.success:before {
  background-color: #65b970;
}
div.cell[data-lang="lisp"]:before {
  color: white;
  font-weight: bold;
  content: 'Common Lisp';
}
div.cell[data-lang="md"]:before {
  color: white;
  font-weight: bold;
  content: 'Markdown';
}
div.cell div#output hr {
  border: 1px solid #ececec;
  width: 95%;
}
div.cell[data-lang="md"] div#output {
  overflow-y: auto;
  max-height: none;
}
div.cell[data-lang="md"] div#output.slide {
  overflow-y: hidden;
}
div.cell table {
  border-color: #ececec;
  border-collapse: collapse;
  border-spacing: 0;
}
div.cell table * {
  border-color: #ececec;
}

div.cell {
  color: black;
  margin: 1em auto;
  width: 80vw;
  box-shadow: 10px 10px rgba(0,0,0,0.2);
}

div.cell div.cache {
  display: none;
}

div.cell div#editor {
  min-height: 5em;
}

div.cell div#output {
  display: none;
  color: #ececec;
  background-color: #424242;
  min-height: 5em;
  overflow-y: scroll;
  max-height: 450px;
}

div.cell div#output.show {
  display: inherit;
  flex-direction: column;
}

div.cell div#output div#result {
  width: 100%;
  background-color: #616161;
  color: #ececec;
  font-weight: bold;
}

div.cell div.ace_focus {
  box-shadow: 0px 0px 2px 1px rgba(100, 255, 100, 0.5);
}
