/*
 * background: #073642
 * foreground: #eee8d5
 * selected:   #586e75
 * border: #eee8d5
 * stroke: #eee8d5
 *
 * */

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background: transparent;
}
*::-webkit-scrollbar-track {
  background: #073642;
}
*::-webkit-scrollbar-thumb {
  background: #586e75;
  border-radius: 4px;
}
body {
  display: flex;
  font-family: sans-serif;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: #073642;
  color: #eee8d5;
  overflow: hidden;
}
table, td, th {
  border: 1px #eee8d5 solid;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0.5em 0;
}
p {
  margin: 0.3em 0;
}
header {
  display: flex;
  max-height: 2em;
  min-height: 2em;
  flex-direction: row;
  padding: 0 1em;
  align-items: center;
}
header h1 {
  font-size: 20px;
  margin: 0.5em;
}
header p#alert {
  font-size: 12px;
  overflow: hidden;
  margin-left: auto;
  margin-top: 32px;
  transform: translateX(120%);
  padding: 1em;
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.1);
  visibility: hidden;
}
header p#alert.show {
  animation-name: show-alert;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-duration: 3s;
  animation-fill-mode: both;
  visibility: visible;
}
header p#alert.save {
  background-color: #b58900;
}
header p#alert.recall {
  background-color: #2aa198;
}
nav {
  display: flex;
  flex-direction: row;
  max-height: 2em;
  min-height: 2em;
  align-items: center;
  border-bottom: 1px solid #586e75;
}
nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}
nav ul#menubar li {
  font-size: 13px;
  line-height: 2em;
  width: 5em;
  height: 2em;
  text-align: center;
  transition: background-color .1s;
  border: 1px solid rgba(255, 255, 255, 0);
}
nav ul#menubar li:hover {
  background-color: #586e75;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
nav ul#menubar li label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.hidden {
  display: none;
}
ul.submenu {
  display: block;
  position: absolute;
  z-index: 100;
  visibility: hidden;
  width: 18em;
  background-color: #073642;
  border: 1px solid #586e75;
  text-align: left;
  padding: 0;
}
ul.submenu li.keybind:after {
  position: absolute;
  content: attr(data-key);
  font-size: 0.8em;
  line-height: 2em;
  text-decoration: underline;
  color: rgba(255, 255, 255, 0.5);
  right: 0px;
  padding-right: 1em;
}
nav ul#menubar li ul.submenu li {
  width: 100%;
  text-align: left;
}
ul#menubar li input[type="checkbox"]:checked + label + ul.submenu {
  visibility: visible;
}
.slide-controller {
  display: none;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 40vh;
  width: 20vh;
  height: 20vh;
  border-radius: 4vh;
  border: 2px solid rgba(60,60,60,0.4);
  z-index: 400;
}
.slide-controller.show {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity .2s;
}
.slide-controller.show:hover {
  opacity: 1;
}
.slide-controller#left {
  left: 0;
}
.slide-controller#right {
  right: 0;
}
.slide-controller#exit {
  width: 10vh;
  height: 10vh;
  border-radius: 10vh;
  top: 0;
  right: 0;
}
path.domain {
  stroke: #eee8d5;
}
g.tick {
  stroke: #eee8d5;
}
line {
  stroke: #eee8d5;
}
text {
  stroke: #eee8d5;
}
.contents {
  display: flex;
  flex: 1;
  overflow-x:hidden;
  width: 100vw;
}
#drawer {
  width: 0;
  overflow: hidden;
  transition: width linear .1s;
  border-right: 1px solid #586e75;
}
#drawer.show {
  width: 15em;
  transition: width linear .1s;
}
#dm-container {
  width: 100vw;
}

#symbols {
  display: flex;
  height: 100%;
  width: 15em;
  overflow-y: scroll;
  flex-direction: column;
}

#symbols ul {
  width: 100%;
  padding: 0;
  list-style: none;
}

#symbols ul li {
  margin: 0;
  padding-left: 1em;
}

#symbols ul li ul li {
  border-left: 2px solid white;
}

#symbols ul li ul li label {
  display: block;
}

#symbols ul li ul li div {
  display: none;
}

#symbols ul li ul li input[type="checkbox"]:checked + div {
  display: initial;
}

#symbols ul li ul li div p {
  margin: 0;
  font-style: italic;
}

@keyframes show-alert {
  0% {
    transform: translateX(120%);
  }
  10% {
    transform: translateX(0);
  }
  90% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(120%);
  }
}
