<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
  <title>Darkmatter | {{ path }}</title>
	<script>
		const LS_URI = "ws://{{ host }}:{{ port }}";
    const FILE_PATH = "{{ path }}";
	</script>
	<script src="/bower_components/d3/d3.js"></script>
  <script src="/bower_components/ace-builds/src-min/ace.js"></script>
  <script src="/bower_components/katex/dist/katex.min.js"></script>
  <link rel="stylesheet" href="/bower_components/katex/dist/katex.min.css">
	<script src="/static/parse.js"></script>
  <script src="/static/socket.js"></script>
  <link rel="stylesheet" href="/static/editcell.css">
  <script src="/static/generateCell.js"></script>
	<style>
		body {
			margin: 0;
			padding: 0;
			width: 100vw;
			background-color: #f0f0f0;
		}
		table, td, th {
			border: 1px black solid;
		}
		#dm-container {
			display: flex;
			flex-direction: column;
		}
		custom-element {
			margin: 10px auto;
		}
	</style>
 </head>
<body unresolved>
	<h1>Darkmatter</h1>
  <p id="alert"></p>
  <div id="dm-container">
    {% for data in editcells %}
    <div class="editcell" id="{{ data.id }}" data-next="{{ data.next }}" data-lang="{{ data.lang }}">
      <div id="lisp" class="cache">{{ data.lisp }}</div>
      <div id="md" class="cache">{{ data.md }}</div>
      <div id="editor"></div>
      <div id="output" {% ifnotequal data.output "" %}class="show"{% endifnotequal %}>{{ data.output | safe }}</div>
    </div>
    {% endfor %}
	</div>
  <script>
  window.onload = () => {
    window.ls = new LispSocket(LS_URI, FILE_PATH);
    window.onkeydown = (e) => {
      if (e.keyCode === 83 && e.ctrlKey) {
        e.preventDefault();
        window.ls.save(document.getElementsByClassName('editcell'));
        return false;
      } else if (e.keyCode === 82 && e.ctrlKey) {
        e.preventDefault();
        window.ls.recall();
      }
    }
    window.editcells = {};
    let cells = document.getElementsByClassName('editcell');
    let container = document.getElementById('dm-container');
    for (cell of cells) {
      let instance = EditCell.fromElement(cell);
      window.editcells[cell.id] = instance;
      EditCell.connect(window.ls, instance, container);
    }
    if (cells.length > 0) {
      let lastcell = cells[cells.length-1];
      if (lastcell.querySelector('#lisp').innerHTML !== ''
       || lastcell.querySelector('#md').innerHTML !== ''
       || lastcell.querySelector('#output').innerHTML !== '') {
        let instance = EditCell.createElement(Date.now().toString());
        cells[cells.length-1].dataset.next = instance.id;
        container.appendChild(instance.element);
        EditCell.connect(window.ls, instance, container);
      }
    } else {
      let instance = EditCell.createElement(Date.now().toString());
      container.appendChild(instance.element);
      EditCell.connect(window.ls, instance, container);
    }
  }
  </script>

</body>
</html>
